{% raw %}
    <h2>Student {{studentFirstName}} {{studentLastName}} Registered</h2>
    <ul>
        <li><a href="#">Collect Payment</a></li>
        <li><a href="#">View Profile</a></li>
        <li><a href="#">Schedule for Classes</a></li>
    </ul>
{% endraw %}
